<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <meta name="author" content="{{ site.title }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <link rel="stylesheet" type="text/css" href="{{ '/stylesheet.css' | relative_url }}">
  </head>
  <body>
    <div class="page">
      {% include profile.html %}
      <div class="page-body">
        {{ content }}
      </div>
      <p class="site-footer">
        <a href="https://github.com/jonbarron/jonbarron_website">Website template</a>
      </p>
    </div>
  </body>
</html>
